:root {
  --primary-color: #06c;
  --primary-color-light-1: #0075eb;
  --primary-color-light-2: #0a85ff;
  --primary-color-dark-1: #005cb8;
  --primary-color-dark-2: #0052a3;
  --background-color-1: #363636;
  --background-color-1-transparent: rgba(54,54,54,0.6);
  --background-color-2: #3e3e3e;
  --background-color-3: #464646;
  --content-background-color: #353535;
  --text-color-1: #b7c2cc;
  --text-color-2: #b2bec8;
  --text-color-3: #adbac5;
  --text-color-4: #6c8397;
  --text-color-5: #4d5e6c;
  --text-color-6: #2e3841;
  --toc-text-color: #8296a6;
  --badge-color: #4a4a4a;
  --badge-background-color: #ced6dc;
  --border-color: #727272;
  --selection-color: #005ebc;
  --shadow-color: rgba(120,120,120,0.18);
  --shadow-hover-color: rgba(120,120,120,0.24);
  --scrollbar-color: #313131;
  --scrollbar-background-color: #5e5e5e;
  --toc-scrollbar-color: rgba(173,186,197,0.1);
  --copyright-icon-bg-color: rgba(173,186,197,0.12);
  --avatar-background-color: #004a93;
  --header-transparent-background-1: rgba(54,54,54,0.28);
  --header-transparent-background-2: rgba(54,54,54,0.4);
  --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
  --post-h-bottom-border-color: rgba(173,186,197,0.15);
  --article-aging-tips-color: $dark-article-aging-tips-color;
  --article-aging-tips-background-color: $dark-article-aging-tips-background-color;
  --article-aging-tips-border-color: $dark-article-aging-tips-border-color;
  --keep-info-color: #9999a2;
  --keep-info-background-color: rgba(153,153,162,0.1);
  --keep-info-border-color: rgba(153,153,162,0.5);
  --keep-primary-color: #268bef;
  --keep-primary-background-color: rgba(38,139,239,0.1);
  --keep-primary-border-color: rgba(38,139,239,0.6);
  --keep-warning-color: #ecc34d;
  --keep-warning-background-color: rgba(236,195,77,0.1);
  --keep-warning-border-color: rgba(236,195,77,0.6);
  --keep-success-color: #10b981;
  --keep-success-background-color: rgba(16,185,129,0.1);
  --keep-success-border-color: rgba(16,185,129,0.6);
  --keep-danger-color: #f43f5e;
  --keep-danger-background-color: rgba(244,63,94,0.1);
  --keep-danger-border-color: rgba(244,63,94,0.6);
}
@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #06c;
    --primary-color-light-1: #0075eb;
    --primary-color-light-2: #0a85ff;
    --primary-color-dark-1: #005cb8;
    --primary-color-dark-2: #0052a3;
    --background-color-1: #363636;
    --background-color-1-transparent: rgba(54,54,54,0.6);
    --background-color-2: #3e3e3e;
    --background-color-3: #464646;
    --content-background-color: #353535;
    --text-color-1: #b7c2cc;
    --text-color-2: #b2bec8;
    --text-color-3: #adbac5;
    --text-color-4: #6c8397;
    --text-color-5: #4d5e6c;
    --text-color-6: #2e3841;
    --toc-text-color: #8296a6;
    --badge-color: #4a4a4a;
    --badge-background-color: #ced6dc;
    --border-color: #727272;
    --selection-color: #005ebc;
    --shadow-color: rgba(120,120,120,0.18);
    --shadow-hover-color: rgba(120,120,120,0.24);
    --scrollbar-color: #313131;
    --scrollbar-background-color: #5e5e5e;
    --toc-scrollbar-color: rgba(173,186,197,0.1);
    --copyright-icon-bg-color: rgba(173,186,197,0.12);
    --avatar-background-color: #004a93;
    --header-transparent-background-1: rgba(54,54,54,0.28);
    --header-transparent-background-2: rgba(54,54,54,0.4);
    --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
    --post-h-bottom-border-color: rgba(173,186,197,0.15);
    --article-aging-tips-color: $dark-article-aging-tips-color;
    --article-aging-tips-background-color: $dark-article-aging-tips-background-color;
    --article-aging-tips-border-color: $dark-article-aging-tips-border-color;
    --keep-info-color: #9999a2;
    --keep-info-background-color: rgba(153,153,162,0.1);
    --keep-info-border-color: rgba(153,153,162,0.5);
    --keep-primary-color: #268bef;
    --keep-primary-background-color: rgba(38,139,239,0.1);
    --keep-primary-border-color: rgba(38,139,239,0.6);
    --keep-warning-color: #ecc34d;
    --keep-warning-background-color: rgba(236,195,77,0.1);
    --keep-warning-border-color: rgba(236,195,77,0.6);
    --keep-success-color: #10b981;
    --keep-success-background-color: rgba(16,185,129,0.1);
    --keep-success-border-color: rgba(16,185,129,0.6);
    --keep-danger-color: #f43f5e;
    --keep-danger-background-color: rgba(244,63,94,0.1);
    --keep-danger-border-color: rgba(244,63,94,0.6);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #06c;
    --primary-color-light-1: #0075eb;
    --primary-color-light-2: #0a85ff;
    --primary-color-dark-1: #005cb8;
    --primary-color-dark-2: #0052a3;
    --background-color-1: #363636;
    --background-color-1-transparent: rgba(54,54,54,0.6);
    --background-color-2: #3e3e3e;
    --background-color-3: #464646;
    --content-background-color: #353535;
    --text-color-1: #b7c2cc;
    --text-color-2: #b2bec8;
    --text-color-3: #adbac5;
    --text-color-4: #6c8397;
    --text-color-5: #4d5e6c;
    --text-color-6: #2e3841;
    --toc-text-color: #8296a6;
    --badge-color: #4a4a4a;
    --badge-background-color: #ced6dc;
    --border-color: #727272;
    --selection-color: #005ebc;
    --shadow-color: rgba(120,120,120,0.18);
    --shadow-hover-color: rgba(120,120,120,0.24);
    --scrollbar-color: #313131;
    --scrollbar-background-color: #5e5e5e;
    --toc-scrollbar-color: rgba(173,186,197,0.1);
    --copyright-icon-bg-color: rgba(173,186,197,0.12);
    --avatar-background-color: #004a93;
    --header-transparent-background-1: rgba(54,54,54,0.28);
    --header-transparent-background-2: rgba(54,54,54,0.4);
    --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
    --post-h-bottom-border-color: rgba(173,186,197,0.15);
    --article-aging-tips-color: $dark-article-aging-tips-color;
    --article-aging-tips-background-color: $dark-article-aging-tips-background-color;
    --article-aging-tips-border-color: $dark-article-aging-tips-border-color;
    --keep-info-color: #9999a2;
    --keep-info-background-color: rgba(153,153,162,0.1);
    --keep-info-border-color: rgba(153,153,162,0.5);
    --keep-primary-color: #268bef;
    --keep-primary-background-color: rgba(38,139,239,0.1);
    --keep-primary-border-color: rgba(38,139,239,0.6);
    --keep-warning-color: #ecc34d;
    --keep-warning-background-color: rgba(236,195,77,0.1);
    --keep-warning-border-color: rgba(236,195,77,0.6);
    --keep-success-color: #10b981;
    --keep-success-background-color: rgba(16,185,129,0.1);
    --keep-success-border-color: rgba(16,185,129,0.6);
    --keep-danger-color: #f43f5e;
    --keep-danger-background-color: rgba(244,63,94,0.1);
    --keep-danger-border-color: rgba(244,63,94,0.6);
  }
}
.light-mode {
  --primary-color: #06c;
  --primary-color-light-1: #0075eb;
  --primary-color-light-2: #0a85ff;
  --primary-color-dark-1: #005cb8;
  --primary-color-dark-2: #0052a3;
  --background-color-1: #363636;
  --background-color-1-transparent: rgba(54,54,54,0.6);
  --background-color-2: #3e3e3e;
  --background-color-3: #464646;
  --content-background-color: #353535;
  --text-color-1: #b7c2cc;
  --text-color-2: #b2bec8;
  --text-color-3: #adbac5;
  --text-color-4: #6c8397;
  --text-color-5: #4d5e6c;
  --text-color-6: #2e3841;
  --toc-text-color: #8296a6;
  --badge-color: #4a4a4a;
  --badge-background-color: #ced6dc;
  --border-color: #727272;
  --selection-color: #005ebc;
  --shadow-color: rgba(120,120,120,0.18);
  --shadow-hover-color: rgba(120,120,120,0.24);
  --scrollbar-color: #313131;
  --scrollbar-background-color: #5e5e5e;
  --toc-scrollbar-color: rgba(173,186,197,0.1);
  --copyright-icon-bg-color: rgba(173,186,197,0.12);
  --avatar-background-color: #004a93;
  --header-transparent-background-1: rgba(54,54,54,0.28);
  --header-transparent-background-2: rgba(54,54,54,0.4);
  --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
  --post-h-bottom-border-color: rgba(173,186,197,0.15);
  --article-aging-tips-color: $dark-article-aging-tips-color;
  --article-aging-tips-background-color: $dark-article-aging-tips-background-color;
  --article-aging-tips-border-color: $dark-article-aging-tips-border-color;
  --keep-info-color: #9999a2;
  --keep-info-background-color: rgba(153,153,162,0.1);
  --keep-info-border-color: rgba(153,153,162,0.5);
  --keep-primary-color: #268bef;
  --keep-primary-background-color: rgba(38,139,239,0.1);
  --keep-primary-border-color: rgba(38,139,239,0.6);
  --keep-warning-color: #ecc34d;
  --keep-warning-background-color: rgba(236,195,77,0.1);
  --keep-warning-border-color: rgba(236,195,77,0.6);
  --keep-success-color: #10b981;
  --keep-success-background-color: rgba(16,185,129,0.1);
  --keep-success-border-color: rgba(16,185,129,0.6);
  --keep-danger-color: #f43f5e;
  --keep-danger-background-color: rgba(244,63,94,0.1);
  --keep-danger-border-color: rgba(244,63,94,0.6);
}
.dark-mode {
  --primary-color: #06c;
  --primary-color-light-1: #0075eb;
  --primary-color-light-2: #0a85ff;
  --primary-color-dark-1: #005cb8;
  --primary-color-dark-2: #0052a3;
  --background-color-1: #363636;
  --background-color-1-transparent: rgba(54,54,54,0.6);
  --background-color-2: #3e3e3e;
  --background-color-3: #464646;
  --content-background-color: #353535;
  --text-color-1: #b7c2cc;
  --text-color-2: #b2bec8;
  --text-color-3: #adbac5;
  --text-color-4: #6c8397;
  --text-color-5: #4d5e6c;
  --text-color-6: #2e3841;
  --toc-text-color: #8296a6;
  --badge-color: #4a4a4a;
  --badge-background-color: #ced6dc;
  --border-color: #727272;
  --selection-color: #005ebc;
  --shadow-color: rgba(120,120,120,0.18);
  --shadow-hover-color: rgba(120,120,120,0.24);
  --scrollbar-color: #313131;
  --scrollbar-background-color: #5e5e5e;
  --toc-scrollbar-color: rgba(173,186,197,0.1);
  --copyright-icon-bg-color: rgba(173,186,197,0.12);
  --avatar-background-color: #004a93;
  --header-transparent-background-1: rgba(54,54,54,0.28);
  --header-transparent-background-2: rgba(54,54,54,0.4);
  --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
  --post-h-bottom-border-color: rgba(173,186,197,0.15);
  --article-aging-tips-color: $dark-article-aging-tips-color;
  --article-aging-tips-background-color: $dark-article-aging-tips-background-color;
  --article-aging-tips-border-color: $dark-article-aging-tips-border-color;
  --keep-info-color: #9999a2;
  --keep-info-background-color: rgba(153,153,162,0.1);
  --keep-info-border-color: rgba(153,153,162,0.5);
  --keep-primary-color: #268bef;
  --keep-primary-background-color: rgba(38,139,239,0.1);
  --keep-primary-border-color: rgba(38,139,239,0.6);
  --keep-warning-color: #ecc34d;
  --keep-warning-background-color: rgba(236,195,77,0.1);
  --keep-warning-border-color: rgba(236,195,77,0.6);
  --keep-success-color: #10b981;
  --keep-success-background-color: rgba(16,185,129,0.1);
  --keep-success-border-color: rgba(16,185,129,0.6);
  --keep-danger-color: #f43f5e;
  --keep-danger-background-color: rgba(244,63,94,0.1);
  --keep-danger-border-color: rgba(244,63,94,0.6);
}
